:root {
  color-scheme: light dark;
  --bg-color: #f2f2f2; 
  --text-color: #444444; 
  --code-block-color: white;
  --shadow-color: #ffffff; 
}

@media (prefers-color-scheme: dark)
{
    :root {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --code-block-color: black;
        --shadow-color: #050505; 
    }
}

body {
    margin: 5% auto; 
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 18px; 
    line-height: 1.5; 
    text-shadow: 0 1px 0 var(--shadow-color);
    padding:0 10px;
    max-width: 1000px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1,h2,h3 {
    line-height: 1.2;
}

code {
    background: var(--code-block-color)
}

a {
    color: var(--text-color)
}

a:hover {
    border-bottom: 0;
}
        

.main-title {
    line-height: 0.1;
}

.nav-button {
    color: blue;
}