<header>
    <h1 class="maintitle">alizard.gay</h1>
    <nav>
        <a class="navbutton" href="/index">Home</a>
        <a class="navbutton" href="/blog">Blog</a>
        <a class="navbutton" href="/blog">Friends</a>
    </nav>
    <hr>
</header>