<header>
    <h1 class="main-title">alizard.gay</h1>
    <nav>
        <a class="nav-button" href="/index">Home</a>
        <a class="nav-button" href="/blog">Blog</a>
        <a class="nav-button" href="/explore">Explore</a>
        <a class="nav-button" href="/fun">Fun</a>
    </nav>
    <hr>
</header>